@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600;1,900&family=Righteous&display=swap');

/*
--cor-primaria: #3A6AD6;
--cor-secundaria: #ffffff;
--cor-terciaria: #333;
--cor-quarternaria: #F2F2F2;
--cor-hover: #2952b3; */


:root{
    --cor-primaria: #3A6AD6;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #333;
    --cor-quarternaria: #F2F2F2;
    --cor-hover: #2952b3;
}


body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria); 
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/* Cabeçalho */
header {
    background-color: var(--cor-quarternaria); 
    padding: 30px 0; 
    border-bottom: 10px solid var(--cor-primaria);  
}

.logo-cabecalho {
    float: left;
    margin-top: -25px;
}

.navegacao-cabecalho {
    float: right;
    margin-right: 25px;
    gap: 20px;
}

.lista-navegacao {
    list-style: none;
    margin: 0;
    padding: 0;
}

.lista-navegacao li {
    display: inline-block;
    margin-left: 40px; 
}

.lista-navegacao a {
    text-decoration: none;
    color: var(--cor-terciaria); 
    font-weight: 500; 
    text-transform: uppercase; 
    transition: color 0.3s ease; 
}

.lista-navegacao a:hover {
    color: var(--cor-hover); 
}

.link-criar-conta {
    font-weight: 600; 
}

/* Seção Hero */
.secao-hero {
    padding: 100px 0;
    text-align: center;
}

.circulo-externo {  
    width: 800px;   
    height: 800px;  
    border-radius: 50%; 
    border: 50px solid var(--cor-primaria);  
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); /* Sombra */
}
.circulo-interno {  
    width: 700px;   
    height: 700px;  
    border-radius: 50%;
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.autocare_logo_centro{
    width: 400px;
}

.conteudo-hero { 
    color: var(--cor-terciaria);
    text-align: center; 
}


.conteudo-hero p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.botao-hero {
    display: inline-block;
    padding: 15px 30px;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease;
    font-weight: 600;
}

.botao-hero:hover {
    background-color: var(--cor-hover); 
}

/* Rodapé */
.rodape {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria); 
    padding: 20px 0;
    text-align: center;
}